.idea/
Python/__pycache__/
dwg/
test models/
my_to_do.txt
bundle source/
Source_AutoLISP/SyncToy_056e7287-7b37-46bb-a127-a47b6ebb5340.dat
Source_Python/SyncToy_728e5976-95ae-47bc-abee-e8c5d6e10f0e.dat